# Ignore everything
*

# Do not ignore folders (so exceptions can work)
!*/

# Keep .gitignore
!/.gitignore

# Except these
!vimrc
!zshrc
!Brewfile
!gitconfig
!aerospace/**
!my-bash-scripts/**
!zed/*.json
!bat/**
!wezterm.lua
!sketchybar/**
